.contact-form{
  gap: 15px;
}

.contact-form-row{
  gap: 10px;
}
.contact-icon{
  width: 50px;
  height: 50px;
}
.contact-details-item{
  gap: 10px;
}

.contact-text a{
  text-decoration: none;
  color: #000;
}

.contact-page{
  margin-top: 200px;
}

.form-input-div{
  gap: 20px;
}

.form-btn-textArea-div{
  gap: 20px;
}

.contact-input{
  background-color: lightgray;
}

.error-msg{
  font-size: 12px;
}

@media screen and (max-width: 768px){
  .contact-page{
    margin-top: 20px;
  }
}

@media screen and (min-width: 769px) and (max-width: 992px) {
  .contact-page{
    margin-top: 320px;
  }
} 