html {
  scroll-behavior: smooth;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Open Sans, sans-serif;
}

:root {
  --primary: rgb(21, 88, 0);
  --secondary: rgb(151, 204, 134);
  --white: #fff;
  --darkGreen: rgb(5, 12, 3);
  --gray: #777;
}

.title-border{
  width: 100px;
  height: 6px;
  background-color: var(--bs-secondary);
  border-radius: 8px;
}